@media(max-width:600px) {
    .row {
        margin-bottom: 0px;
    }
}
h5 {
    margin-top: 20px;
}

/*Robot styles*/

.flipper {
    position: relative;
    float: center;
    width: 300px;
    height: 225px;
    margin: auto;
}
.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    width: 240px;
    height: 204px;
}
#belts {
    background-image: url(../img/robot/belts.JPG);
    background-size: fill;
    background-repeat: no-repeat;
}
#pinchers {
    background-image: url(../img/robot/pinchers.JPG);
    background-size: fill;
    background-repeat: no-repeat;
}
#lift {
    background-image: url(../img/robot/lift.jpg);
    background-size: fill;
    background-repeat: no-repeat;
}
.back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    width: 240px;
    height: 204px;
    background-color: #D4B23C;
    padding: 2%;
}
.flipper:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.flipper:hover .back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

/*#horiz-accordion {
list-style: none;
margin: 30px 0;
padding: 0;
height: 200px;
overflow: hidden;
background: #7d8d96;}
 
#horiz-accordion li {
float: left;
border-left:
display: block;
height: 170px;
width: 50px;
padding: 15px 0;
overflow: hidden;
color: #fff;
text-decoration: none;
font-size: 16px;
line-height: 1.5em;
border-left: 1px solid #fff;}
 
#horiz-accordion li img {
border: none;
border-right: 1px solid #fff;
float: left;
margin: -15px 15px 0 0;
}*/

.bg-block {
    padding: 3px;
    border-radius: 5px;
    text-align: center;
    /*margin-top:10px;*/
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.bg-block img,
.bg-block p {
    width: 90%;
    margin: auto;
    /*white-space:nowrap;*/
    overflow-y: scroll;
    /* "overflow" value must be different from "visible" */
    /*text-overflow: ellipsis;*/
}
.bg-block p {
    height: 90%;
    margin: 15px;
}

/*cirlce resizing media query*/

@media(min-width:1500px) {
    .bg-block img,
    .bg-block p {
        height: 90%;
        width: auto;
        font-size: 18px;
    }
}

/*tab text size media query*/

@media(max-width:500px) {
    .tabs,
    .tabs a {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0;
    }
}
#en-accordion ul li:nth-child(1) {
    background-image: url("../img/robot/EN_Title_Pre.jpg");
    background-size: cover;
}
#en-accordion ul li:nth-child(2) {
    background-image: url("../img/robot/EN_Title_October.jpg");
    background-size: cover;
}
#en-accordion ul li:nth-child(3) {
    background-image: url("../img/robot/EN_Title_November.jpg");
    background-size: cover;
}
#en-accordion ul li:nth-child(4) {
    background-image: url("../img/robot/EN_Title_December.jpg");
    background-size: cover;
}
#en-accordion ul li:nth-child(5) {
    background-image: url("../img/robot/En_Title_January.jpg");
    background-size: cover;
}
#en-accordion ul li:nth-child(6) {
    background-image: url("../img/robot/En_Title_February.jpg");
    background-size: cover;
}
#en-accordion ul li:nth-child(7) {
    background-image: url("../img/robot/En_Title_March.jpg");
    background-size: cover;
}
#en-accordion ul li:nth-child(8) {
    background-image: url("../img/robot/EN_Title_April.jpg");
    background-size: cover;
}
.mobile-accordion {
    height: auto;
}
.mobile-accordion > div {
    width: 100%;
    z-index: 3;
    height: 200px;
    padding-top: 20%;
    padding-bottom: 5%;
    padding-left: 5px;
    opacity: .8;
    background-size: cover;
}
#opacity-id {
    opacity: 1 !important;
}
.mobile-accordion .mobile-tab h2 {
    font-size: 24px;
    text-transform: uppercase;
    top: 100px;
    color: white;
    z-index: 5;
    margin: 0;
}
.mobile-accordion .mobile-tab h2:hover {
    color: #9bb8da;
}
.mobile-accordion p {
    color: white;
    margin: 0;
}
.mobile-accordion div:nth-child(1) {
    background-image: url(../img/robot/EN_Title_Pre_Mobile.jpg);
}
.mobile-accordion div:nth-child(2) {
    background-image: url(../img/robot/EN_Title_October_Mobile.jpg);
}
.mobile-accordion div:nth-child(3) {
    background-image: url(../img/robot/EN_Title_November_Mobile.jpg);
}
.mobile-accordion div:nth-child(4) {
    background-image: url(../img/robot/EN_Title_December_Mobile.jpg);
}
.mobile-accordion div:nth-child(5) {
    background-image: url(../img/robot/EN_Title_January_Mobile.jpg);
}
.mobile-accordion div:nth-child(6) {
    background-image: url(../img/robot/EN_Title_February_Mobile.jpg);
}
.mobile-accordion div:nth-child(7) {
    background-image: url(../img/robot/EN_Title_March_Mobile.jpg);
}
.mobile-accordion div:nth-child(8) {
    background-image: url(../img/robot/EN_Title_April.jpg);
}
@media screen and (min-width:600px) {
    .mobile-accordion {
        display: none;
    }
}

/*.accordion ul li:nth-child(5) { background-image: url("5.jpg"); }

.accordion ul li:nth-child(6) { background-image: url("6.jpg"); }*/

@media(max-width:600px) {
    #hidden {
        display: none;
    }
}
.y1 {
    background-color: #ffb748;
    background-size: cover;
}
.y2 {
    background-color: #edaa43;
}
.y3 {
    background-color: #d4983c;
}
.y4 {
    background-color: #c68e38;
}
#kickoff img {
    width: 80%;
    display: block;
    margin: 0 auto 0 auto;
}

/*About-team styles*/

#team-pic {
    margin: 0 auto 0 auto;
}
#about-slider {
    height: 90%;
}

/*History sytles*/

.collapsible-body {
    padding: 10px 20px;
}
.section {
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #D4B23C;
    padding: 3% 10% 3%;
    -webkit-box-shadow: 1px 2px 30px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 30px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 30px -3px rgba(0, 0, 0, 0.75);
}
#cascade-effect {
    background-image: url(../img/history/supers3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#block-party {
    background-image: url(../img/history/bloc   kParty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#bg {
    /*white text for placed onto pictures*/
    color: white;
}
#jacob {
    background-image: url("../img/history/jacob%20-%20Copy.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*border-radius:100px;*/
    width: 100%;
    height: 200px;
    -webkit-transition: all .5s ease-out 0s;
    -moz-transition: all .5s ease-out 0s;
    -ms-transition: all .5s ease-out 0s;
    -o-transition: all .5s ease-out 0s;
    transition: all .5s ease-out 0s;
    margin: auto;
}
#jacob:hover {
    background-image: url("../img/history/utd.jpg");
    z-index: 900;
    border-radius: 25px;
}
#sahil {
    background-image: url("../img/history/sahil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*border-radius:100px;*/
    width: 100%;
    height: 200px;
    -webkit-transition: all .5s ease-out 0s;
    -moz-transition: all .5s ease-out 0s;
    -ms-transition: all .5s ease-out 0s;
    -o-transition: all .5s ease-out 0s;
    transition: all .5s ease-out 0s;
    margin: auto;
}
#alumni {
    margin-bottom: 0px;
}
#sahil:hover {
    background-image: url("../img/history/duke.png");
    z-index: 900;
    border-radius: 25px;
}
#till {
    background-image: url("../img/history/till.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*border-radius:100px;*/
    width: 100%;
    height: 200px;
    -webkit-transition: all .5s ease-out 0s;
    -moz-transition: all .5s ease-out 0s;
    -ms-transition: all .5s ease-out 0s;
    -o-transition: all .5s ease-out 0s;
    transition: all .5s ease-out 0s;
    margin: auto;
}
#till:hover {
    background-image: url("../img/history/rit.png");
    z-index: 900;
    border-radius: 25px;
}
.card-panel {
    height: auto;
    padding-bottom: 0px;
}
@media(max-width:750px) {
    #jacob,
    #sahil,
    #till {
        height: 150px;
    }
    #alumni {
        font-size: 11px;
    }
}
@media(max-width:1450px) {
    #ppt {
        height: 300px;
    }
}
@media(max-width:1350px) {}
.gif-pic {
    /*background-image: url("../img/robot/gifs/19October_2churros.gif*/
    background-size: cover;
    /*height: 200px;*/
}
#lr-gradient {
    background: #FFD79A;
    background: -webkit-linear-gradient(left, #FFD79A, #FFB748);
    background: -o-linear-gradient(right, #FFD79A, #FFB748);
    background: -moz-linear-gradient(right, #FFD79A, #FFB748);
    background: linear-gradient(to right, #FFD79A, #FFB748);
    border-radius: 5px;
    margin-bottom: 30px;
}
#rl-gradient {
    background: #FFD79A;
    background: -webkit-linear-gradient(right, #FFD79A, #FFB748);
    background: -o-linear-gradient(left, #FFD79A, #FFB748);
    background: -moz-linear-gradient(left, #FFD79A, #FFB748);
    background: linear-gradient(to left, #FFD79A, #FFB748);
    border-radius: 5px;
    margin-bottom: 30px;
}
#lr-gradient h6,
#rl-gradient h6 {
    margin-top: 0;
}

/*.gradient-container {
    background: #FFD79A;
    background: -webkit-linear-gradient(left, #FFD79A, #FFB748);
    background: -o-linear-gradient(right, #FFD79A, #FFB748);
    background: -moz-linear-gradient(right, #FFD79A, #FFB748);
    background: linear-gradient(to right, #FFD79A, #FFB748);
    border-radius: 5px;
}*/
