@media(max-width:600px){
    .row{
        margin-bottom:0px;
    }
}

h5{
    margin-top: 20px;
}

/*Robot styles*/
.flipper{
    position: relative;
    float: center;
    width: 300px;
    height:225px;
}

.front, .back{
    position: absolute;
    top: 0;
    left: 0;
    border-radius:8px;
    -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    width:240px;
    height:204px;
}

#belts{
    background-image: url(../img/robot/belts.JPG);
    background-size: fill;
    background-repeat:no-repeat;
}

#pinchers{
    background-image: url(../img/robot/pinchers.JPG);
    background-size: fill;
    background-repeat:no-repeat;
}

#lift{
    background-image: url(../img/robot/lift.jpg);
    background-size: fill;
    background-repeat:no-repeat;
}

.back{
    -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
    width:240px;
    height:204px;
    background-color:#D4B23C;
    padding:2%;
}

.flipper:hover .front{
    -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.flipper:hover .back{
    -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/*#horiz-accordion {
list-style: none;
margin: 30px 0;
padding: 0;
height: 200px;
overflow: hidden;
background: #7d8d96;}
 
#horiz-accordion li {
float: left;
border-left:
display: block;
height: 170px;
width: 50px;
padding: 15px 0;
overflow: hidden;
color: #fff;
text-decoration: none;
font-size: 16px;
line-height: 1.5em;
border-left: 1px solid #fff;}
 
#horiz-accordion li img {
border: none;
border-right: 1px solid #fff;
float: left;
margin: -15px 15px 0 0;
}
 
#horiz-accordion li.active {
width: 450px;
}

/*.bg-block{
    padding:5px;
    border-radius:5px;
    text-align:center;
    /*margin-top:10px;
}

.bg-block img{
   width:90%;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items:center;
}

#hidden-img{
    width:100%;
    height:100%;
    padding:0px;
}*/

.y1{
    background-color:#ffb748;
}

.y2{
    background-color:#edaa43;
}

.y3{
    background-color:#d4983c;
}

.y4{
    background-color:#c68e38;
}

#kickoff img{
    width:80%;
    display:block;
    margin:0 auto 0 auto;
}

/*About-team styles*/
#team-pic{
    margin:0 auto 0 auto;
}

#about-slider{
    height:90%;
}

/*History sytles*/

.collapsible-body{
    padding:10px 20px;
}

.section{
    margin-top:3%;
    margin-bottom:3%;
    background-color:#D4B23C;
    padding:3% 10% 3%;
    -webkit-box-shadow: 1px 2px 30px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 30px -3px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 30px -3px rgba(0,0,0,0.75);
}

#cascade-effect{
    background-image: url(../img/history/supers3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#block-party{
    background-image: url(../img/history/bloc   kParty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#bg {/*white text for placed onto pictures*/
    color:white;
}

#jacob{
    background-image:url("../img/history/jacob%20-%20Copy.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    /*border-radius:100px;*/
    width:100%;
    height:200px;
    -webkit-transition: all .5s ease-out 0s;
  -moz-transition: all .5s ease-out 0s;
  -ms-transition: all .5s ease-out 0s;
  -o-transition: all .5s ease-out 0s;
  transition: all .5s ease-out 0s;
    margin:auto;
}

#jacob:hover{
    background-image: url("../img/history/utd.jpg");
    z-index:900;
    border-radius:25px;
}

#sahil{
    background-image:url("../img/history/sahil.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    /*border-radius:100px;*/
    width:100%;
    height:200px;
    -webkit-transition: all .5s ease-out 0s;
  -moz-transition: all .5s ease-out 0s;
  -ms-transition: all .5s ease-out 0s;
  -o-transition: all .5s ease-out 0s;
  transition: all .5s ease-out 0s;
    margin:auto;
}

#alumni{
    margin-bottom:0px;
}

#sahil:hover{
    background-image: url("../img/history/duke.png");
    z-index:900;
    border-radius:25px;
}

#till{
    background-image:url("../img/history/till.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    /*border-radius:100px;*/
    width:100%;
    height:200px;
    -webkit-transition: all .5s ease-out 0s;
  -moz-transition: all .5s ease-out 0s;
  -ms-transition: all .5s ease-out 0s;
  -o-transition: all .5s ease-out 0s;
  transition: all .5s ease-out 0s;
    margin:auto;
}

#till:hover{
    background-image: url("../img/history/rit.png");
    z-index:900;
    border-radius:25px;
}

.card-panel{
    height:auto;
    padding-bottom:0px;
}

@media(max-width:750px){
    #jacob, #sahil, #till{
        height:150px;
    }
    #alumni{
        font-size:11px;
    }
}
