.calendar-div{
    display:none;
}


.article{
    padding:2%;
    border-radius:3px;
    margin-bottom:5%;
}

/*.pagination li i{
    font-style:normal;
    padding:2px;
}

.pagination{
   display:block;
    margin:10px auto;
}*/

.pagination {
	width: 100%;
	text-align: center;
}

.pagination ul {
	display: inline-block;
}

.pagination ul li {
	border-radius: 4px;
	padding: 5px 10px 5px 10px;
	background-color: #7BC342;
	border-bottom: 3px solid #507F2B;
	margin-right: 5px;
	display: inline-block;
	color: #FFF;
}

.pagination ul li:last-child {
	margin-right: 0px;
}

.pagination ul .active {
	background-color: #507F2B;
}

.pagination li.active{
    background-color: #DBF739; 
}
.pagination ul li a:visited {
	color: #FFF;
}

.btn, .btn-large, .btn-flat, btn:hover {
    border: medium none;
    border-radius: 2px;
    height: 36px;
    outline: 0px none;
    text-transform: uppercase;
    vertical-align: middle;
    background-color:#b5d309;
    
}

.btn:hover, .btn-large:hover {
    background-color: #b5d309;
}

.btn p{
    margin:auto;
    font-size:12px;
}

article{
    margin-bottom:-5px;
}

.slider{
    margin:10px auto;
}

.slider .slides li{
    border-radius:3px;  
    margin:0 auto;
}
