main{
	height:0;
	padding-left:250px;
	padding-top:0;
}

header{
	height:0;
}


.side-nav .collapsible-header {
    background-color: transparent;
    margin: 0px;
    border: medium none;
    height: inherit;
    line-height: 4.5;
}

.side-nav{
	z-index: 999;
}

a#logo-container.brand-logo{
	background-image: url("../img/logo.png");
	background-repeat:no-repeat;
	background-position: center;
	height:120px;
}