main{
	padding-top:0px;
}

header{
	height:0;
}

body{
	margin-top:-15px;
}

h3{
    color:#7D0E5C;
    margin-top:0px;
}
.side-nav .collapsible-header {
    background-color: transparent;
    margin: 0px;
    border: medium none;
    height: inherit;
    line-height: 4.5;
}

.side-nav{
	z-index: 999;
}

nav{
    background-color:#fdd835;
    height:160px;
    padding-top:2%;
    position:absolute;
}

a#logo-container.brand-logo{
	background-image: url("../img/logo.png");
	background-repeat:no-repeat;
	background-position: center;
	height:120px;
}

a {
    color: #9366D6;
}

.mdi-navigation-menu{
    color:#C0F138;
    z-index: -1;
}

footer.page-footer{
    background-color:#fdd835;
}

/*ul li {
    list-style-type: disc;
}*/

h6 {
    font-size: 20px;
}

.input-field{
    margin-top:0px;
}

.input-field label {/* label color */
 color: #660D6C;
}

.input-field input[type=text]:focus + label {/* label focus color */
 color: #660D6C;
}

.input-field input[type=text]:focus{/* label underline focus color */
 border-bottom: 1px solid #660D6C;
 box-shadow: 0 1px 0 0 #660D6C;
}


textarea.materialize-textarea:focus:not([readonly])+ label{
    color:#660D6C;
}

button i{
    font-style:normal;
}

@media(max-width:1050px){
    .card-panel{
        padding:8px;
        height:180px;
    }
}
