main{
	padding-top:0px;
}

header{
	height:0;
}
body{
	margin-top:-15px;
}

.side-nav .collapsible-header {
    background-color: transparent;
    margin: 0px;
    border: medium none;
    height: inherit;
    line-height: 4.5;
}

.side-nav{
	z-index: 999;
}

a#logo-container.brand-logo{
	background-image: url("../img/logo.png");
	background-repeat:no-repeat;
	background-position: center;
	height:120px;
}

a{
	color:#ffeb3b;
}

.btn{
	padding:0;
}

footer.page-footer{
    background-color:#ffeb3b;
}