.page-title{
    font-size:48px;
    margin-left:2%;
    
}

.page-title p{
    line-height:25px;
    margin:-1% auto auto 2%;
}

.container{
    margin:200px auto;
    width:85%;
}

.cheat-icons h5{
    text-align:center;  
}

.cheat-icons img{
    width:90%;
    display:block;
    margin:auto;
    border:2px solid #eed500;
    
}

#color-title{
   color:#7D0E5C;
}
