.bg-img{
	width: 85%;
	height:400px;
	margin-left:15%;
	position: absolute;
	display:block;
	-webkit-box-shadow: -5px 5px 2px 0px rgba(107,107,107,1);
	-moz-box-shadow: -5px 5px 2px 0px rgba(107,107,107,1);
	box-shadow: -5px 5px 2px 0px rgba(107,107,107,1);
	}

.right-wrapper{
	margin-left:240px;
}

.logo-img{
	background-image: url("../img/logo.png");
	height:auto;
	z-index: 999;
	margin-left:auto;
	margin-right:auto;
	display:block;
	position:absolute;

}

.collapsible-body{
	display: block;
}

.call-action{
	width:35%;
    background-color: #FFF;
    padding:10px;
    border-radius:3px;
    position:absolute;
    left:40%;
    top:30%;
    
}

.call-action h1{
	opacity:1.0
	color:#000;
	text-align: center;
}

.call-action a{
	opacity:1.0;
	display:block;
	width:40%;
	margin:10px auto 10px auto;
}

@media(max-width:1000px){
	/*.container{
		margin-left:0;
	}
	.bg-img{
		width:100%;
		margin:0;
	}
	.call-action{
		margin-top:50%;
		width:40%;
		padding:0 3px 3px 3px;
	}
	.call-action h1{
		font-size:24px;
	}
	.call-action a{
		width:90%;
		font-size:12px;
	}*/
	.right-wrapper{
		margin-left:0px;
	}
	.call-action{
		left:25%;
	}
}