.bg-img{
	
	-webkit-box-shadow: -5px 5px 2px 0px rgba(107,107,107,1);
	-moz-box-shadow: -5px 5px 2px 0px rgba(107,107,107,1);
	box-shadow: -5px 5px 2px 0px rgba(107,107,107,1);
	}

.right-wrapper{
	margin-left:240px;
}

.logo-img{
	background-image: url("../img/logo.png");
	height:auto;
	z-index: 999;
	margin-left:auto;
	margin-right:auto;
	display:block;
	position:absolute;

}

.collapsible-body{
	display: block;
}

.call-action{
	width:35%;
    background-color: #FFF;
    padding:10px;
    border-radius:3px;
    position:absolute;
    left:41%;
    top:30%;
    
}

.call-action h1{
	opacity:1.0
	color:#000;
	text-align: center;
}

.call-action a{
	opacity:1.0;
	display:block;
	width:40%;
	margin:10px auto 10px auto;
}

.icons li{
    display:inline;
}
.icons i{
    font-size:30px;
    color: #003bff;
    font-style:normal;
    margin:0 1% 0 0 ;
}

.icons a:hover, .icons a:active{
			text-decoration:none;
			background-color:transparent;
}

@media(max-width:1000px){
	.right-wrapper{
		margin-left:0px;
	}
	.call-action{
		top:10%;
		left:32%; /*Find 4 rem to px- this works for mobile (109.5px works decently)*/
	}
	.call-action a{
		font-size:12px;
	}
}

@media(max-width:500px){
	.call-action a{
		top:5%;
		width:95%;
		font-size:12px;
	}
}

@media(max-width:700px){
	.call-action {
		top:10%;
	}
    .call-action{
        width:70%;
        left:17%;
    }
}

@media(max-width:360px){
    .call-action h1{
        display:none;
    }
}