<!--<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>!-->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col m8">
                <h5>Connect with us</h5>
                <div class="icons">
                    <ul class="inline-list">
                        <li><a href="https://github.com/jspspike/FTC6299"><span class="socicon socicon-github"></span></a></li>
                        <li><a href="https://twitter.com/6299QuadX"><span class="socicon socicon-twitter"></span></a></li>
                        <li><a href="https://www.facebook.com/ViperBots"><span class="socicon socicon-facebook"></span></li>
                      <li><a href="https://www.youtube.com/channel/UCJoZwwyXVdpSgbP6Gs8-h5w"><span class="socicon socicon-youtube"></span></a></li>
                        <li><a href="mailto:quadx6299@gmail.com"><span class="socicon socicon-mail"></span></a></li>

                    </ul>
                </div>
            </div>
            <div class="col l4 m4">
                <a href="http://www.viperbots.org/"><img id="viperbots" src="img/ViperBots.png"></a>
                </img>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <a id="footer-link" href="https://github.com/linnealovespie/2016teamquadx/blob/master/LICENSE">All Source Code Under Mozilla Open Source Liscence</a>
            <a class="right" id="footer-link" href="http://materializecss.com/">Materialize CSS Framework</a>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/baseAnimations.js"></script>
